<div class="row" style="background-color: #21293b; padding: 20px; color: #FFF;">
  <div class="col-md-2 col-sm-4 hidden-xs">
    <img src="files/img/web-logo.png" style="height: 100%; width: 100%;">
  </div>
  <div class="col-md-9 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12">
    <h3>ติดต่อบริษัท</h3><br>
    <i class="fas fa-phone-alt"></i> :  084-996-6989 , 094-710-9595<br>
    <i class="far fa-envelope"></i> : cargomall@outlook.com<br>
    <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/cargomall">https://www.facebook.com/cargomall</a>
  </div>
  <div class="col-md-12 text-center" style="font-size: 11px; color:#FFF;">
  	<br><br>
  	<a href="http://otcommerce.com" target="_blank">Powered by © OT Commerce</a>
  </div>
</div>