<div class="row" ng-form="frm">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="page-header">
      <img src="files/img/small-logo.png" style="height: 18%; width: 18%;">
    </div>
    <div class="row form-group">
      <label class="col-md-2 col-sm-3 col-xs-4 text-left">{{'EMAIL_TXT' | translate}}</label>
      <div class="col-md-10 col-sm-9 col-xs-8">
        <input type="text" class="form-control" data-ng-model="Login.email" required="true">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 col-sm-3 col-xs-4 text-left">{{'PASSWORD_TXT' | translate}}</label>
      <div class="col-md-10 col-sm-9 col-xs-8">
        <input type="password" class="form-control" data-ng-model="Login.password" required="true">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 col-sm-3 col-xs-4 text-left"></label>
      <div class="col-md-3 col-sm-9 col-xs-8 text-left">
        <div class="form-group">
          <input id="chk" type="checkbox" data-ng-model="Login.remember_password" > <label for="chk">{{'REMEMBER_PASSWORD_TXT' | translate}}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        
        <button class="btn btn-default" ng-click="closeLoginDialog()">{{ 'CANCEL_TXT' | translate}}</button>
        <button class="btn btn-info" ng-click="showForgotPassDialog()">ลืมรหัสผ่าน</button>
        <button class="btn btn-primary" ng-click="checkLogin(Login)" ng-disabled="frm.$invalid">{{ 'LOGIN_TXT' | translate}}</button>
        
      </div>
    </div>
  </div>
</div>