<div data-ng-include src="'views/header-lg.html'"></div>
<div data-ng-include src="'views/header-xs.html'"></div>

<div class="row form-group visible-xs" style="height: 50px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 150px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row" style="padding: 8px; padding-top:20px;" ng-form="frm">
	<div class="col-md-10 col-md-offset-1">
		<div class="page-header text-center">
			<span style="font-size: 1.3em; font-weight: bolder;">ติดต่อเรา</span>
		</div>
		<div class="row form-group">
			<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
			    <h3>ติดต่อบริษัท</h3><br>
			    <span style="color: #ED2224;">บริษัท คาร์โก มอลล์ จำกัด</span><br><br>
			    <i class="fas fa-phone-alt"></i> :  084-996-6989 , 094-710-9595<br>
			    <i class="far fa-envelope"></i> : cargomall@outlook.com<br>
			    <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/cargomall">https://www.facebook.com/cargomall</a>
			    <hr>
		  	</div>
		  	<div class="col-md-3 col-sm-4">
		  		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15108.599381628075!2d99.02394515!3d18.791474299999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da255be6ca07e5%3A0x3122b3fa094fff0f!2sMakro%20Chiang%20Mai!5e0!3m2!1sen!2sth!4v1581275457891!5m2!1sen!2sth" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		  	</div>
		</div>
	</div>
</div>

<div data-ng-include src="'views/footer.html'"></div>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161508645-1');
</script>