<div data-ng-include src="'views/admin/header-lg.html'"></div>
<div data-ng-include src="'views/admin/header-xs.html'"></div>

<div class="row form-group visible-xs" style="height: 50px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 150px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row" style=" padding: 8px; padding-top:20px;" ng-form="frm">
	<div class="col-md-12">
		<div class="page-header text-center">
			<span style="font-size: 1.3em; font-weight: bolder;">รายการพัสดุไม่มีเจ้าของ</span>
		</div>

		<div class="row form-group" ng-show="Data.id">
			<label class="col-md-2 col-sm-3 col-xs-12">
				<h4>แนบไฟล์ภาพสินค้า</h4>
			</label>
			<div class="col-md-4 col-sm-4 col-xs-12" >
				<p class="input-group" style="">
		          <input type="text" readonly="true" class="form-control" ng-model="AttachFile.name" required="true" />
		          <span class="input-group-btn">
		            <button class="btn btn-default" style="border-color: red;" ngf-select ng-model="AttachFile" ngf-max-size="5MB"  ngf-model-invalid="AttachFile.invalidFile" accept="image/*" ngf-pattern="'.png,.jpg,.jpeg,.gif'" >เลือก</button>
		          </span>
		        </p>
			</div>
			<div class="col-md-1">
				<button class="btn btn-primary"  ng-click="uploadImage(Data.id)" data-ng-disabled="frm.$invalid || AttachFile == null">อัพโหลด</button>
			</div>
			<div class="col-lg-3">
				<div class="file-alert" ng-show="AttachFile.invalidFile.$error === 'maxSize'">ขนาดไฟล์ต้องไม่เกิน : {{AttachFile.invalidFile.$errorParam}}</div>
			</div>
			<div class="col-md-5 text-center">
				<img src="BackendServices/storage/app/{{Data.image_path}}" style="height: 150px;">
			</div>
		</div>
		<div class="row form-group">
			<label class="col-md-2" style="color: #999;"> 
				<h4>สถานะรายการ  : </h4>
			</label>
			<div class="col-lg-4">
				<select class="form-control" data-ng-model="Data.track_status" data-ng-options="data.id as data.value for data in TRACK_NONE_OWNER_STATUS">
					
				</select>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-md-2" style="color: #999;"> 
				<h4>สถานะสินค้า  :</h4>
			</label>
			<div class="col-lg-4">
				<select class="form-control" data-ng-model="OrderTrackingDataNoneOwner.order_status" data-ng-options="data.id as data.value for data in ORDER_STATUS">
					
				</select>
			</div>
		</div>
		
		<div class="row form-group">
			<label class="col-md-7">
				<div class="row form-group">
					<label class="col-md-12" style="color: #ED2224;"> 
						<h4>รายละเอียดข้อมูล Tracking </h4>
					</label>
				</div>
				<fieldset>
					<legend></legend>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							หมายเลขแทรค
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.tracking_no" required="true">
						</div>
						<label class="col-md-2 blue-label">
							ประเภทสินค้า (en)
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.goods_desc_en">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							ประเภทสินค้า (th)
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.goods_desc_th">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							วันที่สินค้าถึงโกดังจีน
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.china_arrival_date">
						</div>
						<label class="col-md-2 blue-label">
							โกดัง
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.cargo">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							จำนวนกล่อง
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.package_amount">
						</div>
						<label class="col-md-2 blue-label">
							น้ำหนัก (KG)
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.weight_kg">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							ยาว
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.longs">
						</div>
						<label class="col-md-2 blue-label">
							กว้าง
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.widths">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							สูง
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.heights">
						</div>
						<label class="col-md-2 blue-label">
							CBM
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.cbm">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							วันที่ของเข้าจีน
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.china_arrival_date">
						</div>
						<label class="col-md-2 blue-label">
							เลขที่ตู้
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.bill_no">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							วันที่ของออกจีน
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.china_departure_date">
						</div>
						<label class="col-md-2 blue-label">
							เลขตู้
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.container_no">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							เลข order จีน
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.china_order_no">
						</div>
						
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							วันที่เข้าไทย
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.thai_arrival_date">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							เลขแทรคจีน
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.china_tracking_no">
						</div>
						<label class="col-md-2 blue-label">
							เลขแทรคไทย
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.tracking_no_thai">
						</div>
						
					</div>
					<div class="row form-group">
						<label class="col-md-2 blue-label">
							ค่าขนส่งจากจีนมาไทย
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.transport_cost_china">
						</div>
						<label class="col-md-2 blue-label">
							ค่าขนส่งในไทย
						</label>
						<div class="col-md-3">
							<input type="text" class="form-control" data-ng-model="OrderTrackingDataNoneOwner.transport_cost_thai">
						</div>
					</div>
					
					
				</fieldset>
			</label>
			<div class="col-md-5" data-ng-show="Data.id">
				<div class="panel panel-primary">
					<div class="panel-heading">
						รายชื่อผู้แสดงความจำนงเป็นเจ้าของ
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>ชื่อ</th>
									<th>หมายเลขโทรศัพท์</th>
									<th>วันที่แจ้ง</th>
									<th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="data in CustomerRequestOwner" ng-class="{'selected_row' : data.status}">
									<td>{{data.customer.firstname}} {{data.customer.lastname}} ({{data.customer.user_code}})</td>
									<td>{{data.customer.mobile_no}}</td>
									<td>{{ getThaiDateTimeFromString(data.created_at) }}</td>
									<td><button class="btn btn-default btn-sm" data-ng-show="Data.track_status == 1" data-ng-click="addToOwner(Data.id, data.id, data.customer.firstname)">กำหนดให้เป็นเจ้าของ</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="page-header">&nbsp;</div>

		<div class="row form-group">
			<div class="col-md-12 text-center">
				<a href="admin/tracking-none-owner/list" class="btn btn-default">กลับหน้ารายการ</a>
				<button class="btn btn-primary" data-ng-click="updateData(Data, OrderTrackingDataNoneOwner)">บันทึกข้อมูล</button>
			</div>
			
		</div>
	</div>

</div>
<style type="text/css">
	.selected_row{
		background-color: #81d97e;
	}
</style>