<div data-ng-include src="'views/admin/header-lg.html'"></div>
<div data-ng-include src="'views/admin/header-xs.html'"></div>

<div class="row form-group visible-xs" style="height: 50px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 150px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row" style=" padding: 8px; padding-top:20px;" ng-form="frm">
	<div class="col-md-10 col-md-offset-1">
		<div class="page-header text-center">
			<span style="font-size: 1.3em; font-weight: bolder;">รายการพัสดุไม่มีเจ้าของ</span>
		</div>
		<div class="row form-group">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
				<div class="row">
					<label class="col-md-4 col-sm-4 col-xs-12">หมายเลข Track</label>
					<div class="col-md-6 col-sm-6 col-xs-10">
						<input class="form-control" data-ng-model="condition.tracking_no">
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<button class="btn btn-primary " data-ng-click="getList()"><i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12 table-responsive">
				<table class="table table-striped table-bordered">
					<caption>
					</caption>
					<thead>
						<tr>
							<th>ลำดับ</th>
							<th>หมายเลข Track</th>
							<th>สถานะสินค้า</th>
							<th>สถานะรายการ</th>
							<th>รูปภาพ</th>
							<th></th>
						</tr>
					</thead>
					<tr data-ng-repeat="data in DataList">
						<td>{{$index + 1}}</td>
						<td>{{data.tracking_no}}</td>
						<td>{{getOrderStatus(data.order_status)}}</td>
						<td>{{getTrackingNoneOwnerStatus(data.track_status)}}</td>
						<td><a href="BackendServices/storage/app/{{data.image_path}}" target="_blank"><img src="BackendServices/storage/app/{{data.image_path}}" style="height: 100px;"></a></td>
						<td class="text-center">
							<a href="admin/tracking-none-owner/detail/{{data.id}}" class="btn btn-primary"><i class="fas fa-info-circle"></i> จัดการ</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1" ng-show="DataList == undefined || DataList == null" style="padding-bottom:300px;">
		&nbsp;
	</div>
</div>

<div data-ng-include src="'views/footer.html'"></div>