<div data-ng-include src="'views/header-lg.html'"></div>
<div data-ng-include src="'views/header-xs.html'"></div>

<div class="row form-group visible-xs" style="height: 80px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 200px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>

<div class="row" style="padding: 8px; padding-top:20px;">
	<div class="col-md-8 col-md-offset-2">
		<div class="row form-group">
			<div class="col-md-12 text-center">
				<span style="font-size: 1.3em; font-weight: bolder;">ค้นหาสินค้าเพื่อสั่งซื้อ</span>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-9 col-sm-8 col-xs-12">
				<input type="text" class="form-control" data-ng-model="link_url" focus-me="focusLinkURLInput"  placeholder="ค้นหาสินค้าจาก taobao, tmall, 1688 .." style="height: 40px;" data-ng-enter="getProduct(link_url)">
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<button class="btn btn-login btn-block" data-ng-click="getProduct(link_url)" data-ng-disabled="link_url == null || link_url == ''" style="height: 40px;"><i class="fas fa-search"></i> {{'SEARCH_FROM_LINK' | translate}}</button>
			</div>
		</div>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-12 text-center">
		<a href="https://taobao.com/" target="_blank"><img src="files/img/logo-taobao.png" style="height: 60px; background-color: #FFF; padding:10px; border-radius: 10px; border:2px solid #CA8E3F;"></a>&nbsp;&nbsp;
		<a href="https://www.1688.com/" target="_blank"><img src="files/img/logo-1688.png" style="height: 60px;border-radius: 10px; border:2px solid #CA723F;"></a>&nbsp;&nbsp;
		<a href="https://www.tmall.com/" target="_blank"><img src="files/img/logo-tmall.png" style="height: 60px;  background-color: #FFF;border-radius: 10px; border:2px solid #CA3F3F;"></a>				
	</div>
</div>
<div class="row"  ng-show="ProductDetail == undefined || ProductDetail == null">
	<div class="col col-md-10 col-md-offset-1" style="padding:80px;">
		&nbsp;
	</div>
</div>
<div class="row" ng-show="ProductDetail != undefined && ProductDetail != null" data-ng-form="form">
	<div class="col col-md-10 col-md-offset-1">
		<div class="panel panel-default">
		<div class="panel-heading" style="font-size: 1.3em; background-color: #FF6C6C; color: #FFFFFF;"><b>{{ 'SEARCH_RESULT_TXT' | translate }}</b></div>
		  <div class="panel-body" style="font-size: 1em;">
		  	<div class="row">
		  		<div class="col-md-4">
		  			<img ng-src="{{ProductDetail.product_image}}" border="0" style=" border:#999 1px solid; width: 100%;">
		  		</div>
		  		<div class="col-md-8">
		  			<div class="row form-group">
						<label class="col-md-3 col-sm-4 col-xs-12" style="text-align: left;">{{ 'LINK_URL_TXT' | translate}}</label>
						<div class="col-md-9" style="white-space: -moz-pre-wrap !important; 
						white-space: -pre-wrap;      
						white-space: -o-pre-wrap;    
						white-space: pre-wrap;       
						word-wrap: break-word;       
						white-space: -webkit-pre-wrap;
						word-break: break-all;
						white-space: normal;">
							<a href="{{ProductDetail.product_url}}" target="_blank">{{ProductDetail.product_url}}</a>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3 col-sm-4 col-xs-12" style="text-align: left;">{{ 'PRODUCT_NAME_TXT' | translate}}</label>
						<div class="col-md-9 col-sm-9 col-xs-12">{{(ProductDetail.product_en_name == null || ProductDetail.product_en_name == undefined)? ProductDetail.product_original_name:ProductDetail.product_en_name }}</div>
					</div>
					<div class="row form-group" ng-show="ProductDetail.product_color_img.length > 0">
						<label class="col-md-3 form-control-static" style="text-align: left;">{{ 'COLOR_TXT' | translate}}
						</label>
						<div class="col-md-9">
							<label class="col-md-3" style="min-height: 100px;" ng-repeat="color_img in ProductDetail.product_color_img track by $index" >
								<input type="radio" name="color_img" ng-model="ProductDetail.product_color_img_choose"  ng-value="color_img" ng-click="changePrice($index, color_img)" />
								<img ng-src="{{color_img}}" border="0" style="max-width: 30px; border:#999 1px solid" alt="{{color_img}}" ng-show="color_img.startsWith('http')" />
								<span ng-show="!color_img.startsWith('http')" >{{color_img}}</span>
							</label>
						</div>
					</div>
					<div class="row form-group" ng-show="ProductDetail.product_color_img.length == 0 || ProductDetail.product_color_img.length == null">
						<label class="col-md-3 form-control-static" style="text-align: left;">{{ 'COLOR_TXT' | translate}}</label>
						<div class="col-md-9">
							<label class="col-md-3" ng-repeat="color in ProductDetail.product_color track by $index"" style="min-height: 100px;">
								<div class="input-group" style="font-size: 1em; font-weight: lighter;">
								<input type="radio" name="color" ng-model="ProductDetail.product_color_choose" ng-checked="$index==0" ng-value="color" data-ng-click="checkPriceByColor($index)" /> {{color}}
								</div>
							</label>
						</div>
					</div>
					<div class="row form-group" ng-show="ProductDetail.product_size.length > 0">
						<label class="col-md-3" style="text-align: left;">{{ 'SIZE_TXT' | translate}}</label>
						<div class="col-md-9">
							<label class="col-md-2" ng-repeat="size in ProductDetail.product_size track by $index"" >
								<div class="input-group" style="font-size: 1em; font-weight: lighter;">
								<input type="radio" name="size" ng-model="ProductDetail.product_size_choose" ng-checked="$index==0" ng-value="size" ng-click="changePriceBySize($index)" /> {{size}}
								</div>
							</label>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3" style="text-align: left;">{{ 'AMOUNT_TXT' | translate}}</label>
						<div class="col-md-2">
							<input type="number" ng-value="ProductDetail.product_qty" ng-model="ProductDetail.product_qty" class="form-control input-sm" data-ng-keyup="checkPriceLength(ProductDetail.product_qty)" required="true">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3" style="text-align: left;">{{ 'PRICE_PER_UNIT_TXT' | translate}}</label>
						<div class="col-md-9" data-ng-show="ProductDetail.ProductLevelList.length == 0">
							<div class="input-group">
						      <span class="input-group-addon" style="width: 200px; text-align: left; font-size: 0.9em;">
						        <input type="radio" value="normal" ng-model="ProductDetail.price_type" aria-label="..." ng-click="checkPriceType(ProductDetail.price_type)"> {{ 'NORMAL_PRICE_TXT' | translate }} (RMB)
						      </span>
						      <input type="number" ng-value="{{ProductDetail.product_normal_price}}" ng-model="ProductDetail.product_normal_price" class="form-control input-sm" readonly="readonly">
						    </div>
							<div class="input-group">
						      <span class="input-group-addon" style="width: 200px; text-align: left; font-size: 0.9em;">
						        <input type="radio"  value="promotion" ng-model="ProductDetail.price_type" aria-label="..." ng-click="checkPriceType(ProductDetail.price_type)"> {{ 'PROMOTION_PRICE_TXT' | translate }} (RMB)
						      </span>
						      <input type="number" value="{{ProductDetail.product_promotion_price}}" ng-model="ProductDetail.product_promotion_price" class="form-control input-sm" ng-disabled="ProductDetail.price_type=='normal'">
						    </div>
						    <span style="color: orange;">กรณีระบบไม่ขึ้นราคาโปรโมชั่น กรุณาเลือกและกรอกที่ "ราคาโปรโมชั่น"</span>
						</div>

						<div class="col-md-9" data-ng-show="ProductDetail.ProductLevelList.length > 0">
							<div class="row form-group">
								<label class="col-md-4 col-sm-4 text-center" data-ng-repeat="price_range in ProductDetail.PriceRangeList track by $index" ng-init="range_index = $index" style="font-weight: lighter;">
									{{ price_range.price }}
									<br>
									จำนวน : 
									<span data-ng-show="ProductDetail.PriceRangeList.length > (range_index + 1)">{{price_range.min_qty}} - {{price_range.max_qty}}</span>
									<span data-ng-show="ProductDetail.PriceRangeList.length == (range_index + 1)"> >= {{price_range.min_qty}}</span>
								</label>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<div class="input-group">
								      <span class="input-group-addon" style="width: 200px; text-align: left; font-size: 0.9em;">
								        <input type="radio" value="normal" ng-model="ProductDetail.price_type" aria-label="..." ng-click="checkPriceType(ProductDetail.price_type)"> {{ 'NORMAL_PRICE_TXT' | translate }} (RMB)
								      </span>
								      <input type="number" ng-value="{{ProductDetail.product_normal_price}}" ng-model="ProductDetail.product_normal_price" class="form-control input-sm" readonly="readonly">
								    </div>
									<div class="input-group">
								      <span class="input-group-addon" style="width: 200px; text-align: left; font-size: 0.9em;">
								        <input type="radio"  value="promotion" ng-model="ProductDetail.price_type" aria-label="..." ng-click="checkPriceType(ProductDetail.price_type)"> {{ 'PROMOTION_PRICE_TXT' | translate }} (RMB)
								      </span>
								      <input type="number" value="{{ProductDetail.product_promotion_price}}" ng-model="ProductDetail.product_promotion_price" class="form-control input-sm" ng-disabled="ProductDetail.price_type=='normal'">
								    </div>
								    <span style="color: orange;">กรณีระบบไม่ขึ้นราคาโปรโมชั่น กรุณาเลือกและกรอกที่ "ราคาโปรโมชั่น"</span>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">

									<table class="table table-striped">
										<thead>
											<th class="text-center">ราคา</th>
											<th class="text-center">รายละเอียด</th>
											<!-- <th>จำนวนคงเหลือ</th> -->
											<th class="text-center">เลือก</th>
										</thead>
										<tbody>
											<tr data-ng-repeat="prod_level in ProductDetail.ProductLevelList">
												<td>{{ prod_level.price | number:2 }}</td>
												<td>{{ prod_level.description }}</td>
												<td class="text-center">
													<button class="btn btn-default" data-ng-class="{'btn-primary' : ProductDetail.product_normal_price == prod_level.price && ProductDetail.remark == prod_level.description}" ng-click="setSelectedPrice(prod_level.price, prod_level.description)">เลือก</button>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3" style="text-align: left;">{{ 'EXCHANGERATE_PRICE_TXT' | translate}}</label>
						<div class="col-md-3">
							<span ng-class="{'text-line-through' : ProductDetail.product_promotion_price > 0 }">{{(ProductDetail.product_normal_price * exchange_rate) | number:2}} THB</span>
							<br>
							<span ng-show="ProductDetail.product_promotion_price > 0">{{ProductDetail.product_promotion_price * exchange_rate | number:2}} THB</span>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3" style="text-align: left;">{{ 'TOTAL_TXT' | translate}}</label>
						<div class="col-md-6">
							<span ng-class="{'text-line-through' : ProductDetail.product_promotion_price > 0 }"><b>{{ProductDetail.product_normal_price * ProductDetail.product_qty | number:2}} RMB ({{(ProductDetail.product_normal_price * exchange_rate) * ProductDetail.product_qty | number:2}} THB)</b></span>
							<br>
							<span ng-show="ProductDetail.product_promotion_price > 0"><b>{{ProductDetail.product_promotion_price * ProductDetail.product_qty | number:2}} RMB ({{(ProductDetail.product_promotion_price * exchange_rate) * ProductDetail.product_qty | number:2}} THB)</b></span>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3" style="text-align: left;">{{ 'REMARK_TXT' | translate}}</label>
						<div class="col-md-6">
							<textarea class="form-control" ng-model="ProductDetail.remark"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-9 text-center">
							<button class="btn btn-default btn-sm" onclick="window.location.href=''"> {{ 'CANCEL_TXT' | translate }}</button>
							<button class="btn btn-primary btn-sm"  ng-click="addCart(ProductDetail)" data-ng-disabled="form.$invalid || ProductDetail.product_normal_price == 0"><i class="fas fa-cart-plus"></i> {{ 'ADD_TO_CART' | translate }}</button>
						</div>
					</div>

		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
</div>
<div data-ng-include src="'views/footer.html'"></div>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161508645-1');
</script>