<div data-ng-include src="'views/header-lg.html'"></div>
<div data-ng-include src="'views/header-xs.html'"></div>
<div class="row form-group visible-xs" style="height: 50px;">
  <div class="col-md-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 150px;">
  <div class="col-md-12">
    &nbsp;
  </div>
</div>
<div class="row form-group">
	<div class="col-md-10 col-md-offset-1">
		<div class="row form-group">
			<div class="col-md-12 text-center">
				<div class="page-header">
					<span style="font-size: 1.3em; font-weight: bolder;">รายละเอียดข้อมูลการฝากสั่งซื้อ</span>
					<br><br>
					<div class="row" data-ng-show="Order.order_status == 8">
						<div class="col-md-12 col-sm-12 hidden-xs text-center status-timeline" style="font-size: 0.9em;" >
							ยกเลิก
						</div>
					</div>
					<div class="row" data-ng-show="Order.order_status != 8">
						<div class="col-md-12 col-sm-12 hidden-xs text-center" style="font-size: 0.9em; color: #999;" >
							<span data-ng-repeat="data in ORDER_STATUS track by $index" ng-show="$index < 7" data-ng-class="{'status-timeline' : $index + 1 <= Order.order_status}">
								{{ getOrderStatus(data.id) }} <label ng-show="$index < 6">-></label> 
							</span>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="page-header visible-xs" style="font-weight: bolder; font-size: 1.1em;">
			สถานะ : {{ getOrderStatus(Order.order_status) }}
		</div>
		<div class="row form-group">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">
						รหัสลูกค้า
					</label>
					<div class="col-md-9 col-sm-8 col-xs-7">
						{{Customer.user_code}}
					</div>
				</div>
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">
						ชื่อลูกค้า
					</label>
					<div class="col-md-9 col-sm-8 col-xs-7">
						{{Customer.firstname}} {{Customer.lastname}}
					</div>
				</div>
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">
						อีเมล
					</label>
					<div class="col-md-9 col-sm-8 col-xs-7">
						{{Customer.email}}
					</div>
				</div>
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">
						เบอร์ติดต่อ
					</label>
					<div class="col-md-9 col-sm-8 col-xs-7">
						{{Customer.mobile_no}}
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">ประเภทการขนส่ง</label>
					<div class="col-md-9 col-sm-8 col-xs-7">{{ShippingOption.transport_type_txt}}</div>
				</div>
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">วิธีการรับสินค้า</label>
					<div class="col-md-9 col-sm-8 col-xs-7">{{ShippingOption.receive_order_type_txt}}</div>
				</div>
				<div class="row" data-ng-show="Order.receive_order_type != 'own'">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">ที่อยู่ในการจัดส่งสินค้า</label>
					<div class="col-md-9 col-sm-8 col-xs-7">
						{{'ADDRESS1_TXT' | translate}} {{Order.customer_address.address1}} 
						{{'ADDRESS2_TXT' | translate}} {{Order.customer_address.address2}} 
						{{'ADDRESS3_TXT' | translate}} {{Order.customer_address.address3}}<br>
						{{'ADDRESS4_TXT' | translate}} {{Order.customer_address.address4}} 
						{{'ADDRESS5_TXT' | translate}} {{Order.customer_address.address5}} 
						{{'ADDRESS6_TXT' | translate}} {{Order.customer_address.address6}}<br>
						{{'ADDRESS7_TXT' | translate}} {{Order.customer_address.address7}}
					</div>
				</div>
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">บริษัทขนส่ง</label>
					<div class="col-md-9 col-sm-8 col-xs-7">{{getTransportCompanyName(Order.transport_company)}} <span data-ng-show="Order.transport_company == 'other'">({{Order.transport_company_other}})</span></div>
				</div>
				<div class="row">
					<label class="col-md-3 col-sm-4 col-xs-5 text-right">รายละเอียดเพิ่มเติม</label>
					<div class="col-md-9 col-sm-8 col-xs-7">
						{{ShippingOption.special_option_txt}}
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">

			</div>
		</div>
		<div class="row" >

			<div class="col-lg-12 table-responsive">

				<table class="table table-bordered table-striped">
					<caption>
						
					</caption>
					<tr class="default">
						<th style="text-align: center;">ลำดับ</th>
						<th style="text-align: center; width: 8%;">รูป</th>
						<th style="text-align: center;">ชื่อสินค้า</th>
						<th style="text-align: center; width: 16%;">สี  / สำรอง</th>
						<th style="text-align: center; width: 16%;">ขนาด / สำรอง </th>
						<th style="text-align: center; width: 10%;">ราคา (บาท)</th>
						<th style="text-align: center; width: 8%;">จำนวน</th>
						<th style="text-align: center; width: 9%;">รวม</th>
						<th style="text-align: center; width: 15%;">หมายเหตุ</th>
					</tr>
					<tr data-ng-repeat="product in ProductList track by $index" style="font-size: 0.9em;">
						<td>{{$index + 1}}</td>
						<td><a href="{{product.product_thumbail_path}}" target="_blank"><img data-ng-src="{{product.product_thumbail_path}}" style="max-width: 100%;" /></a></td>
						<td>
							<a href="{{product.product_original_url}}" target="_blank">{{ product.product_name }}</a>
							<br>
							<span style="color: #FC9032; font-weight: bold;" data-ng-class="{'text-line-through' : product.product_promotion_price > 0 }">
								¥{{product.product_price_yuan}}
							</span>
							<span data-ng-show="product.product_promotion_price != 0" style="color: green;">
								<br>
								ราคาโปรโมชั่น ¥{{product.product_promotion_price}}
							</span>
							
						</td>
						<td data-ng-show="product.product_choose_color_img.length > 0">
							<div class="row">
								<div class="col-lg-12">
									<a href="{{product.product_choose_color_img}}" target="_blank"><img data-ng-src="{{product.product_choose_color_img}}" style="max-width: 30px;" class="obj-align-child-center" /></a><br>
									สีสำรอง : {{product.product_reserve_color_img}}
								</div>
							</div>
						</td>
						<td data-ng-show="product.product_choose_color_img.length == 0 || product.product_choose_color_img.length == null">
							<div class="row">
								<div class="col-lg-12">
									<b>{{product.product_choose_color}}</b><br>
									สีสำรอง : {{product.product_reserve_color}}
								</div>
								
							</div>
						</td>
						<td>
							<div class="row">
								<div class="col-lg-12" style="word-break:normal; word-wrap:break-word;">
									<b>{{product.product_choose_size.length == 0?'': product.product_choose_size}}</b><br>
									ขนาดสำรอง : {{product.product_reserve_size}}
								</div>
							</div>
						</td>
						<td align="right">
							<div class="row">
								<div class="col-lg-12" style="word-break:normal; word-wrap:break-word;">
									<span data-ng-class="{'text-line-through' : product.product_promotion_price > 0 }">{{ (product.product_price_yuan *  OrderDesc.china_ex_rate) | number:2}}</span>
								</div>
								<div class="col-lg-12" data-ng-show="product.product_promotion_price > 0" style="color: green;">
									{{ (product.product_promotion_price * OrderDesc.china_ex_rate) | number:2 }}
								</div>
							</div>
							
							
						</td>
						<td align="right">
							{{product.product_choose_amount}}
						</td>
						<td align="right">{{ product.product_promotion_price > 0 ? (product.product_promotion_price * OrderDesc.china_ex_rate) * product.product_choose_amount : (product.product_price_yuan *  OrderDesc.china_ex_rate) * product.product_choose_amount | number:2}}</td>
						<td align="center">
							<div class="row">
								
								<div class="col-lg-12">
									{{product.remark}}
								</div>
							</div>
						</td>
					</tr>
					
					<tfoot>
						<tr>
							<td colspan="7" align="right"><b style="font-size: 1.1em;">ส่วนลด</b></td>
							<td align="right">
								<b style="font-size: 1.1em;">{{Order.discount | number:2}}</b>
							</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="7" align="right"><b style="font-size: 1.1em;">รวม</b></td>
							<td align="right"><b style="font-size: 1.1em;">{{sumBaht | number:2}}</b></td>
							<td>&nbsp;</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>

		<fieldset>
			<legend>รายละเอียดค่าใช้จ่าย</legend>
			<div class="row form-group">
				<label class="col-md-2">
					ค่าขนส่งในจีน (บาท) :
				</label>
				<div class="col-md-3">
					{{ OrderDesc.total_china_transport_cost | number:2 }}
					<br>
					<span style="color: red;">หมายเหตุ: ค่าขนส่งภายในประเทศจีนทั้งหมดจะถูกคิดรวมกับสินค้าแทร็คแรกที่ถึงโกดังไทยค่ะ</span>
				</div>
			</div>
			<!-- <div class="row form-group">
				<label class="col-md-2">
					ค่าขนส่งจากจีนมาไทย (บาท) :
				</label>
				<div class="col-md-3">
					{{ OrderDesc.china_thai_transport_cost | number:2 }}
				</div>
			</div>
			<div class="row form-group" data-ng-show="Order.transport_company != '' && Order.transport_company != null">
				<label class="col-md-2">
					ค่าขนส่งในไทย ({{Order.transport_company}}) :
				</label>
				<div class="col-md-3">
					{{ OrderDesc.transport_company_cost | number:2 }}
					
				</div>
			</div>
			<div class="row form-group" data-ng-show="Order.transport_company != '' && Order.transport_company != null">
				<label class="col-md-2">
					หมายเลข track (ขนส่งไทย) ({{Order.transport_company}}) : 
				</label>
				<div class="col-md-3">
					{{ OrderDesc.tracking_no_thai }}
				</div>
			</div> -->
		</fieldset> 
		<div class="row form-group">
			<label class="col-md-12" style="color: #ED2224;"> 
				<h4>รายละเอียดข้อมูล Tracking </h4>
			</label>
		</div>
		<fieldset data-ng-repeat="item in Order.order_trackings">
			<legend>{{ item.tracking_no }}</legend>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					วันที่สินค้าถึงโกดังจีน
				</label>
				<div class="col-md-3">
					{{item.china_arrival_date}}
				</div>
				<label class="col-md-2 blue-label">
					โกดัง
				</label>
				<div class="col-md-3">
					{{item.cargo}}
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					จำนวนกล่อง
				</label>
				<div class="col-md-3">
					{{item.package_amount}}
				</div>
				<label class="col-md-2 blue-label">
					น้ำหนัก (KG)
				</label>
				<div class="col-md-3">
					{{item.weight_kg}}
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					ยาว
				</label>
				<div class="col-md-3">
					{{item.longs}}
				</div>
				<label class="col-md-2 blue-label">
					กว้าง
				</label>
				<div class="col-md-3">
					{{item.widths}}
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					สูง
				</label>
				<div class="col-md-3">
					{{item.heights}}
				</div>
				<label class="col-md-2 blue-label">
					CBM
				</label>
				<div class="col-md-3">
					{{item.cbm}}
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					วันที่ของออกจีน
				</label>
				<div class="col-md-3">
					{{item.china_departure_date}}
				</div>
				<label class="col-md-2 blue-label">
					เลขที่บิล
				</label>
				<div class="col-md-3">
					{{item.bill_no}}
				</div>
			</div>

			<div class="row form-group">
				<label class="col-md-2 blue-label">
					สูง
				</label>
				<div class="col-md-3">
					{{item.heights}}
				</div>
				<label class="col-md-2 blue-label">
					CBM
				</label>
				<div class="col-md-3">
					{{item.cbm}}
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					วันที่ของออกจีน
				</label>
				<div class="col-md-3">
					{{item.china_departure_date}}
				</div>
				<label class="col-md-2 blue-label">
					เลขที่บิล
				</label>
				<div class="col-md-3">
					{{item.bill_no}}
				</div>
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					เลขแทรคไทย
				</label>
				<div class="col-md-3">
					{{item.tracking_no_thai}}
				</div>
				
			</div>
			<div class="row form-group">
				<label class="col-md-2 blue-label">
					ค่าขนส่งจากจีนมาไทย
				</label>
				<div class="col-md-3">
					{{item.transport_cost_china}}
				</div>
				<label class="col-md-2 blue-label">
					ค่าขนส่งในไทย
				</label>
				<div class="col-md-3">
					{{item.transport_cost_thai}}
				</div>
			</div>
			
		</fieldset>
		<hr>
		<div class="row form-group">
			<label class="col-md-2">
				หมายเหตุเพิ่มเติม
			</label>
			<div class="col-md-6">
				<textarea class="form-control" data-ng-model="Order.remark" readonly="true"></textarea>
			</div>
		</div>
		<hr>
		<div class="row form-group">
			<div class="col-lg-12 text-center">
				<a href="tracking/order" class="btn btn-default">กลับหน้ารายการ</a>
				
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.status-timeline{
		color: #C91313;
		font-weight: bold;
	}
</style>