<div data-ng-include src="'views/header-lg.html'"></div>
<div data-ng-include src="'views/header-xs.html'"></div>
<div class="row form-group visible-xs" style="height: 50px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 150px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group">
	<div class="col-md-10 col-md-offset-1">
		<div class="row form-group">
			<div class="col-md-12 text-center">
				<div class="page-header">
					<span style="font-size: 1.3em; font-weight: bolder;">เงื่อนไขการให้บริการ</span>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-12">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เงื่อนไขและข้อตกลงนี้ถือว่าเป็นอันเข้าใจกันดีแล้วทั้งสองฝ่าย ซึ่งต่อไปนี้ขอแทน Cargo Mall ว่า“ บริษัท” และผู้ใช้บริการทุกท่านว่า “ลูกค้า” โดยลูกค้าต้องยอมรับเงื่อนไขและขอบเขตความรับผิดชอบของทางบริษัท ก่อนใช้บริการ ดังต่อไปนี้
				<br><br>
				<ol>
					<li>ในกรณีที่ลูกค้าใช้บริการฝากสั่งสินค้ากับทางบริษัท ทางบริษัทเป็นเพียงตัวกลางในการติดต่อซื้อขายจากร้านค้าจีนที่ลูกค้าเลือกมาเท่านั้น ไม่ได้มีส่วนในการรับผิดชอบ หรือ การันตีความผิดพลาดของร้านค้าจีน เช่น สินค้าไม่เหมือนแบบ แตกหัก ส่งผิดไซส์ ส่งผิดสี ส่งไม่ครบ ไม่คืนเงิน เป็นต้น ทางบริษัทยินดีเป็นสื่อกลางในการทวงถามติดตามเท่านั้น</li>
					<li>นกรณีที่ลูกค้าใช้บริการนำเข้ากับบริษัท (ใช้แต่บริการขนส่ง) กรณีมีปัญหากับร้านค้าจีน ทางบริษัทจะไม่รับผิดชอบในการติดต่อ หรือ ทวงถามปัญหากับร้านจีน</li>
					<li>กรณีที่สินค้าสูญหายจากการขนส่งทางบริษัทรับผิดชอบตามมูลค่าสินค้าตามจริง(ไม่เกิน 3 เท่าของค่าขนส่งสินค้าที่สูญหาย)</li>
					<li>ทางบริษัทฯ ขอสงวนสิทธิ์ไม่รับผิดชอบ กรณีสินค้าประเภทเซรามิก กระเบื้อง หลอดไฟ และเครื่องแก้ว และอื่นๆ แตกหักเสียหาย รวมไปถึงการใช้บรรจุภัณฑ์ไม่เหมาะสมกับสินค้า</li>
					<li>ในกรณีสินค้าพิเศษและสินค้าต้องห้าม หากพบว่ามีการแอบส่งโดยไม่แจ้งทางบริษัท กรณีโดนยึด และเกิดปัญหาต่างๆ ลูกค้าต้องรับผิดชอบความเสียหายนั้นๆ และบริษัทจะไม่รับผิดชอบใดๆทั้งสิ้น</li>
					<li>ในกรณีที่ลูกค้าได้รับสินค้า แล้วพบว่าบรรจุภัณฑ์เสียหาย สินค้าหลุดตก สินค้ามีรอยกรีด ทำให้เกิดความเสียหายถึงตัวสินค้า อันเนื่องมาจากการขนส่ง และ การสุ่มตรวจสินค้าที่ด่านไทย ทางบริษัทไม่สามารถรับผิดชอบต่อเหตุการณ์ต่างๆนี้ได้</li>
					<li>ทางบริษัทขอสงวนสิทธิ์ในการแจ้งปรับเปลี่ยนเรทเงินและราคาค่าขนส่งโดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
					<li>บริษัทขอสงวนสิทธิ์ไม่จัดส่งสินค้า หากยังไม่ได้รับการชำระเงินครบถ้วน</li>
					<li>บริษัทขอสงวนสิทธิ์ในการตรวจเช็คสินค้าในกรณีที่จําเป็นเพื่อระบุและบันทึกรายละเอียดสินค้า</li>
					<li>ระยะเวลาการขนส่งเป็นระยะเวลาโดยเฉลี่ย อาจเร็วหรือช้ากว่าที่ทางบริษัทได้แจ้งไว้ ทางบริษัทไม่มีการรับประกันถึงความล่าช้าของสินค้า และไม่สามารถรับผิดชอบในกรณีที่สินค้าติดตรวจ ติดภัยธรรมชาติ หรือเหตุการณ์อื่นๆที่ทางบริษัทควบคุมไม่ได้ ทำให้สินค้าล่าช้า ไม่ทันขายตามระยะเวลาที่ลูกค้ากำหนด</li>
					<li>หลังจากได้รับสินค้าแล้ว ให้ลูกค้าดำเนินการตรวจสอบสินค้าโดยทันที ว่าสินค้าได้รับครบและถูกต้องตามที่ลูกค้าสั่งหรือไม่ หากได้รับไม่ครบหรือไม่ถูกต้อง ให้ลูกค้าแจ้งทางบริษัทภายใน 7 วันนับจากวันที่ลูกค้าได้รับสินค้า เพื่อให้ง่ายต่อการติดต่อสอบถามจากทางร้านค้า ถ้าลูกค้าแจ้งหลังจาก 7 วันนับจากวันที่ลูกค้าได้รับสินค้า บริษัทขอไม่ทำการติดต่อสอบถามจากทางร้านค้า</li>
					<li>กรณีลูกค้าไม่ติดต่อรับสินค้าภายใน 15 วัน นับจากวันที่สินค้าถึงโกดังไทย ทางบริษัทฯขอสงวนสิทธิ์ในการขายสินค้าทอดตลาด</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div data-ng-include src="'views/footer.html'"></div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161508645-1');
</script>