<div data-ng-include src="'views/header-lg.html'"></div>
<div data-ng-include src="'views/header-xs.html'"></div>
<div class="row form-group visible-xs" style="height: 50px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group hidden-xs" style="height: 150px;">
  <div class="col-lg-12">
    &nbsp;
  </div>
</div>
<div class="row form-group">
	<div class="col-md-10 col-md-offset-1">
		<div class="row form-group">
			<div class="col-md-12 text-center">
				<div class="page-header">
					<span style="font-size: 1.3em; font-weight: bolder;">เงื่อนไขการให้บริการ</span>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-12">
				<ol>
					<li>บริษัทฯ ไม่รับขนส่งสินค้าผิดกฎหมาย หากมีการละเมิด ความผิดจะตกเป็นของลูกค้าฝ่ายเดียวและทางบริษัทฯมีสิทธิ์ดำเนินการฟ้องร้อง รวมถึงเรียกร้องค่าเสียหายได้</li>
					<li>ทางบริษัทฯ ขอสงวนสิทธิ์ไม่รับผิดชอบ กรณีสินค้าประเภทเซรามิก กระเบื้อง หลอดไฟ และเครื่องแก้ว และอื่นๆ แตกหักเสียหาย รวมไปถึงการใช้บรรจุภัณฑ์ไม่เหมาะสมกับสินค้า</li>
					<li>เมื่อมีการเรียกเก็บค่าขนส่ง ทางบริษัทฯขอสงวนสิทธิ์ไม่จัดส่งสินค้า หากยังไม่ได้รับการชำระค่าขนส่งจากลูกค้าอย่างถูกต้อง</li>
					<li>ในกรณีสภาพกล่องสินค้าเสียหายเกินกว่าจะขนส่งได้ ทางบริษัทฯขอสงวนสิทธิ์ในการรีแพ็คสินค้าใหม่และเก็บค่ารีแพ็ค </li>
					<li>กรุณาตรวจสอบสินค้าภายในวันที่รับสินค้าเท่านั้น ความเสียหายที่พบหลังจากรับสินค้าแล้ว ทางบริษัทขอสงวนสิทธิ์ที่จะไม่รับผิดชอบทุกกรณี</li>
					<li>สินค้าที่ลูกค้าเลือกใช้บริการฝากสั่งสินค้ากับทางบริษัทฯ หากสินค้าไม่ตรงแบบ บริษัทฯ ขอสงวนสิทธิไม่รับผิดชอบความผิดพลาดในกรณีนี้</li>
					<li>ระยะเวลาของการขนส่งสินค้าที่แจ้งเป็นไปตามมาตรฐานการขนส่งของบริษัทฯ อาจมีการล่าช้าหากมีสถานการณ์ไม่เอื้ออำนวย เช่น วิกฤตไวรัสCovid-19เป็นต้น</li>
					<li>ทางบริษัทฯขอสงวนสิทธิ์ไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้น ในกรณีอันเกิดจากเหตุการณ์ภัยธรรมชาติต่างๆ และเหตุการณ์ การเมือง สงคราม เรือล่ม รถคว่ำ อุบัติเหตุ ศุลกากร และหน่วยงานของรัฐอันเป็นเหตุให้เกิดความล่าช้าหรือยึดสินค้า</li>
					<li>กรณีลูกค้าไม่ติดต่อรับสินค้าภายใน 1 เดือนนับจากวันที่สินค้าเข้าโกดังไทย ทางบริษัทฯขอสงวนสิทธิ์ในการขายสินค้าทอดตลาด</li>
					<li>หากคุณลูกค้าเปิดรหัสและใช้บริการขนส่งกับทางบริษัทฯจะถือว่าท่านรับทราบและยอมรับในข้อตกลงต่างๆ ข้างต้นทุกกรณี</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div data-ng-include src="'views/footer.html'"></div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161508645-1');
</script>